{% extends 'base.html' %}
{% block container %}
<main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures.get(departure) }}</h1>
    <p class="mb-4">Найдено {{ tours | length }} туров, от
        {{ (tours.values() | min(attribute='price')).get('price') }} до
        {{ (tours.values() | max(attribute='price')).get('price') }} и от
        {{ (tours.values() | min(attribute='nights')).get('nights') }} ночей до
        {{ (tours.values() | max(attribute='nights')).get('nights') }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for number, tour in tours.items() %}
        <div class="col-4">
            <div class="card mb-4">
                <img src="{{ tour.get('picture') }}" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h2 class="h5 card-title">{{ tour.get('title') }}</h2>
                    <p class="card-text">{{ tour.get('description') }}</p>
                    <a href="/tours/{{ number }}" class="btn btn-sm btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}